* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    display: flex;
    background-color: #000;
  }
  
  .memory-game {
    background: url(./img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 840px;
    width: 840px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 4px 3px 1px red;
  }
  
  .card {
    height: calc(25% - 10px);
    width: calc(25% - 10px);
    position: relative;
    margin: 5px;
    cursor: pointer;
    transform: scale(1);
  }
  
  .card-front,
  .card-back {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
  }